.navBtn {
  position: relative;
}
.navBtn::after {
  position: absolute;
  bottom: -7px;
  left: 0;
  content: " ";
  height: 3px;
  width: 0;
  background-color: #db7c38;
  transition: 0.5s;
}
.navBtn:hover::after {
  width: 100%;
}
.navBtn:hover {
  color: #db7c38;
}
.navBar {
  padding: 0 30px;
}
h1 {
  text-align: center;
  color: #db7c38;
}
